@import url(global.css);
@import url(formUm/styleVersaoDois.css);
@import url(formUm/options.css);
@import url(formUm/acordo.css);
@import url(formDois/quadrado.css);
@import url(formUm/acordoCopy.css);
.container {
  font-family: var(--font-text);
}

.opcaoVolta {
  display: flex;
}
.formInteira {
  width: 50%;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}
.explicassao {
  width: 100%;
  height: 6rem;

  margin-top: 10px;
}
.inputs {
  padding-top: 15px;
  padding-bottom: 10px;
}
.select {
  padding-top: 15px;
  padding-bottom: 10px;
}
input {
  height: 2.5rem;
  width: 100%;
  border: 1px solid var(--color-off-text-response);
  border-radius: 6px;
  padding: 5px;
}
input:focus {
  outline: 1px solid var(--color-options);
  -webkit-box-shadow: 0px 2px 15px 9px #fee7d6;
  box-shadow: 0px 2px 15px 9px #fee7d6;
  outline-style: 0.1px;
}

.selectGenero {
  height: 2.5rem;
  width: 100%;
  border: 1px solid var(--color-off-text-response);
  border-radius: 6px;
  padding: 5px;
  font-family: var(--font-text);
}
.selectGenero:hover {
  cursor: pointer;
}
.selectGenero:focus {
  outline: 1px solid var(--color-options);
  -webkit-box-shadow: 0px 2px 15px 9px #fee7d6;
  box-shadow: 0px 2px 15px 9px #fee7d6;
  outline-style: 0.1px;
}
.textArea {
  height: 7.5rem;
  width: 100%;
  border: 1px solid var(--color-off-text-response);
  border-radius: 8px;

  font-family: var(--font-text);
}
.textAreaDois {
  height: 7.5rem;
  width: 100%;
  border: 1px solid var(--color-off-text-response);
  border-radius: 8px;
  padding: 5px;
  font-family: var(--font-text);
}
.textArea :hover {
  border: 1px solid var(--color-options);
  border-radius: 8px;
  color: var(--color-options);
  & .imgNuvem {
    background-image: url(/css/icons/cloudYes.png);
  }
}

.oFormularioParteDois{
  height: 70rem;
}
.imgNuvem {
  background-image: url(/css/icons/cloud-uploadTinhaErrado.png);
  width: 2.9rem;
  height: 2.5rem;
}
.fileArea {
  height: 7.5rem;
  width: 100%;
  border: 1px solid var(--color-off-text-response);
  border-radius: 6px;

  font-family: var(--font-text);
}
.menssagem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recado {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.escondido {
  opacity: 0;
}
.recado input {
  position: absolute;
  height: 100%;
  cursor: pointer;
}
.formDois {
  width: 50%;
background-color:var(--face-of-container-secundary);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}
